<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta th:replace="layout_header" />
    <title>线下课程</title>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="header bg-primary">
      <div class="page-header">
        <div class="container">
            <h1 align = "center">面试练习</h1>
        </div>
      </div>
    </header>
    <div class="container-fluid">
      <div class="row" align = "center">
        <img src="../img/slide1.jpg" class="img-responsive" alt="Responsive image"></img>
     </div>
      
      <div class="row">
         <h4>课程名</h4>
         <span>职场面试葵花宝典（上）</span>
      </div>
      <div class="row">
         <h4>课程介绍</h4>
         <span>想面试成功不难，具备专业的技能基础知识，再加上合理的面试技巧，就能大大提高面试成功率</span>
      </div>
      <div class="row">
          <p class="text-primary">地点： 广东财经大学</p>
          <p class="text-primary">时间： 2015-12-23</p>
      </div>

      <div class="bs-callout bs-callout-info" id="callout-overview-not-both">
        <h5>活动回顾</h5>
      </div>
      <div class="row">
         <h4>总结</h4>
         <span>不同的单位对面试过程的设计会有所不同，有的单位会非常正式，有的单位则相对比较随意，但一般来说，面试可以分为以下五个阶段</span>
      </div>
       <div class="bs-callout bs-callout-info" id="callout-overview-not-both">
        <h5>精彩瞬间</h5>
      </div>
           <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3">
      <a href="#">
          <img src="../img/international.jpg" class="img-rounded" alt=""></img>
      </a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
      <a href="#">
          <img src="../img/international.jpg" class="img-rounded" alt=""></img>
      </a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
      <a href="#">
          <img src="../img/international.jpg" class="img-rounded" alt=""></img>
      </a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3">
      <a href="#">
          <img src="../img/international.jpg" class="img-rounded" alt=""></img>
      </a>
      </div>
    </div>
    </div>
    <br></br>
    <br></br>
    <br></br>
    <div th:re</br>place="layout_footer"></div>
  </body></br>
</html>