    <div class="container-fluid">
      <div class="row" align = "center">
        <video src="{{data.vediopath}}" controls="controls" width="320" type="video/mp4">
        your browser does not support the video tag
       </video>
     </div>
      <div class="row">
         <h4>课程名</h4>
         <span>{{data.title}}</span>
      </div>
      <div class="row">
         <h4>课程介绍</h4>
         <span>{{data.introduce}}</span>
      </div>
      <div class="row">
         <h4>导师介绍</h4>
         <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object img-circle" ng-src="{{data.authImgPath}}" alt="Generic placeholder image"></img>
              </a>
            </div>
            <div class="media-body  media-middle">
              <h4 class="media-heading">{{data.authorName}}  {{data.company}} {{data.position}}</h4>
            </div>
          </div>
      </div>
      <div class="row">
      <ul>
         <div ng-repeat="authIntroduce in data.authIntroduces">
      	<li>
      	{{authIntroduce}}
      	</li>
      	</div>
      </ul>
      </div>
      <div class="bs-callout bs-callout-info" id="callout-overview-not-both">
        <h5>相关链接</h5>
      </div>
       <div class="media" ng-repeat="ec in data.relationCourse">
            <div class="media-left media-middle">
              <a href="{{ec.link}}">
                <img class="media-object img-thumbnail" ng-src="{{ec.imagePath}}" alt="Generic placeholder image"></img>
              </a>
            </div>
            <div class="media-body  media-middle">
              <h3 class="media-heading text-primary">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <span ng-bind-template="  {{ec.authorName}}    {{ec.company}}    {{ec.position}}"></span>
              </h3>
              <h4 class = "strong" ng-bind-template="{{ec.title}}"></h4>
              <p ng-bind-template="{{ec.introduce}}"></p>
            </div>
      </div>
</div>