<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"></meta>
	<meta charset="UTF-8"></meta>
	<!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit"></meta>
    <link rel="Aleadin icon" href="images/icon_title.png"></link>
    <link rel="stylesheet" href="css/index.css"></link>
	<link rel="stylesheet" href="css/jquery.fullPage.css"></link>
	<title>首页</title>
</head>
<body>
	<div class="side" id="menutool">
		<a class="list-btn active" data-menuanchor="firstPage" href="#firstPage"></a>
	</div>
	<div id="fullpage">
		<div class="section part1">
			<p class="header">
				<img src="images/logo.jpg" class="logo"></img>
			</p>
			<img src="images/image.jpg" class="img"></img>
			<a href="#secondPage" class="tipdown"></a>
		</div>
		
	</div>
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.fullPage.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</body>
</html>