<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no"></meta>
<link href="/css/bootstrap.min.css" rel="stylesheet"></link>
<link rel="stylesheet" href="../css/bootstrap-theme.min.css"></link>
<link href="/assets/css/docs.min.css" rel="stylesheet"></link>
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/angularjs/angular.min.js"></script>
<!--<script src="../angularjs/angular-animate.min.js"></script>
<script src="../angularjs/angular-aria.min.js"></script>
<script src="../angularjs/angular-cookies.min.js"></script>
<script src="../angularjs/angular-loader.min.js"></script>
<script src="../angularjs/angular-messages.min.js"></script>
<script src="../angularjs/angular-resource.min.js"></script>
<script src="../angularjs/angular-route.min.js"></script>
<script src="../angularjs/angular-sanitize.min.js"></script>
<script src="../angularjs/angular-touch.min.js"></script>
<script src="../angularjs/angular-scenario.js"></script>-->